body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
    display: flex;
}

/* Left side */

#image {
    height: 1034px;
    width: auto;
}

#logo {
    width: 125px;
    height: auto;
}

#odin {
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.left-side {
    width: 690px;
    height: 100%;
    display: flex;
}

.logo-section {
    position: absolute;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .45);
    width: 690px;
}

/* Right side */

#mainP {
    font-size: 30px;
    padding: 30px;
    margin: 0;
}

.header {
    position: relative;
    background-color: rgb(0, 0, 0, .05);
}

.header #heading {
    font-size: 30px;
    padding: 30px;
    margin: 0;
}

label {
    letter-spacing: 3px;
    font-size: 12px;
}

input {
    width: 250px;
    height: 20px;
    border: 2px solid #e4e4e6;
    border-color: #E5E7EB;
    border-radius: 4px;
    margin-bottom: 25px;
}

.main {
    padding: 30px;
    display: flex;
    gap: 80px;
    box-shadow: 0 4px 6px -6px #222;
}

.input-leftSide, .input-rightSide {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 30px;
    background-color: rgb(0, 0, 0, .05);
    height: 100%;
}

#create-acc {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #596D48;
}

input:valid {
    border: rgb(0, 183, 255) 2px solid;
}

input:focus:invalid {
    border: rgb(255, 69, 100) 2px solid;
}